<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synopsis.androidapp.synopsis">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name=".BasicInfoClass"></activity>
        <activity android:name=".Dash_board"></activity>
        <activity android:name=".LoginClass"></activity>
        <activity android:name=".RegisterUserClass"></activity>
        <activity android:name=".Terms_conditionsClass"></activity>
        <activity android:name=".Testimonial"></activity>
        <activity android:name=".About_us"></activity>
        <activity android:name=".Contact_Us"></activity>
        <activity android:name=".Faq_class"></activity>
        <activity android:name=".Rate_us"></activity>
        <activity android:name=".Settings_class"></activity>
        <activity android:name=".VerifyClass"></activity>
        <activity android:name=".Verify_educaton"></activity>
        <activity android:name=".Verify_employment"></activity>
        <activity android:name=".Verify_Identity"></activity>
        <activity android:name=".Credits"></activity>
        <activity android:name=".Company_register"></activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />


    </application>


</manifest>


